<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gingerbread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gingerbread.Properties.Settings>
            <setting name="jointRadius" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="tolerance" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="ShortCurveTolerance" serializeAs="String">
                <value>0.0025602645573</value>
            </setting>
            <setting name="groupTolerance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="expandTolerance" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="latticeTheta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="latticeDelta" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="doubleTolerance" serializeAs="String">
                <value>1E-06</value>
            </setting>
            <setting name="SpiderPath" serializeAs="String">
                <value />
            </setting>
        </Gingerbread.Properties.Settings>
    </userSettings>
</configuration>