<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gingerbread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gingerbread.Properties.Settings>
            <setting name="ShortCurveTolerance" serializeAs="String">
                <value>0.0025602645573</value>
            </setting>
            <setting name="tolGrouping" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="tolPerimeter" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="tolTheta" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="tolAlignment" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="tolDouble" serializeAs="String">
                <value>1E-05</value>
            </setting>
            <setting name="checkInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="originX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="originY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exportStruct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeRef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="projInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="spiderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="projName" serializeAs="String">
                <value>Gingerbread</value>
            </setting>
            <setting name="projAddress" serializeAs="String">
                <value>Shanghai, China</value>
            </setting>
            <setting name="projDate" serializeAs="String">
                <value />
            </setting>
            <setting name="projAuthor" serializeAs="String">
                <value />
            </setting>
            <setting name="projNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="originZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projLatitude" serializeAs="String">
                <value>31.4</value>
            </setting>
            <setting name="projLongitude" serializeAs="String">
                <value>121.45</value>
            </setting>
            <setting name="projElevation" serializeAs="String">
                <value>5.5</value>
            </setting>
            <setting name="shadowPrev" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportShade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="projAzimuth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="punchMass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="geomInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="drawPrev" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="drawWall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shadeIds" serializeAs="String">
                <value />
            </setting>
            <setting name="shadeNames" serializeAs="String">
                <value />
            </setting>
            <setting name="shadeCurrent" serializeAs="String">
                <value />
            </setting>
            <setting name="shadeCurrentId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="prevFloorId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="prevSpaceIds" serializeAs="String">
                <value />
            </setting>
            <setting name="offsetZ" serializeAs="String">
                <value>0</value>
            </setting>
        </Gingerbread.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
