<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gingerbread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gingerbread.Properties.Settings>
            <setting name="ShortCurveTolerance" serializeAs="String">
                <value>0.0025602645573</value>
            </setting>
            <setting name="tolGroup" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="tolExpand" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="tolTheta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tolDelta" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="tolDouble" serializeAs="String">
                <value>1E-05</value>
            </setting>
            <setting name="checkInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="originX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="originY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="extraInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeRef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="projInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="spiderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="projName" serializeAs="String">
                <value>GingerbreadHouse</value>
            </setting>
            <setting name="projAddress" serializeAs="String">
                <value>Shanghai, China</value>
            </setting>
            <setting name="projDate" serializeAs="String">
                <value />
            </setting>
            <setting name="projAuthor" serializeAs="String">
                <value />
            </setting>
            <setting name="projNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="originZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projLatitude" serializeAs="String">
                <value>31.4</value>
            </setting>
            <setting name="projLongitude" serializeAs="String">
                <value>121.45</value>
            </setting>
            <setting name="projElevation" serializeAs="String">
                <value>5.5</value>
            </setting>
            <setting name="shadowPrev" serializeAs="String">
                <value>True</value>
            </setting>
        </Gingerbread.Properties.Settings>
    </userSettings>
</configuration>